body {
    margin: 0;
    padding: 0;
}
/* Global */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
}

h1 {
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
}


span {
    color: grey;
    font-size: 0.8rem;
    font-weight: lighter;
}

/* main-container */
.main-container {
    /* height: 30vh; */
    width: 60vw;
    background-color: #fff;
    border-top: 0.2px solid rgb(167, 167, 167);
    border-bottom: 0.2px solid rgb(167, 167, 167);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 0;
}


/* Header */
.header-main-container {
    display: flex;

}


/* Header */
.content-container {
    background-color: orange;
    width: 86%;
    margin-left: auto;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    
}

.main-heading {
    color: #FFF;
    background-color: black;
    border-radius: 4rem;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* Child container */

.inside-heading-1-container {
   padding: 0.3rem;

}

.inside-heading-1 {
    color: #FFF;
    background-color: black;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}    

.inside-heading-2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin: 2rem 0;
    margin-left: 2rem;
}

.author-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.author-name-tag {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 9rem;
    height: 2.7rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

.author-name-tag-heading {
    font-size: 1rem;
    color: orange;
    font-weight: bold;
    margin: auto 0;
}

.logo-container {
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 0.3rem;
    
}

/* child-2-container */
.child-2-container {
    background-color: #fff;
    width: 86%;
    margin-left: auto;
    border: 0.2px solid rgb(224, 222, 222);
    
}

.child-2-elements {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 0.4rem;
}

/* footer */
.follow-actions-main-container {
    display: flex;
    width: 86%;
    margin-left: auto;
    margin-top: 1rem;
}

.follow-actions-container {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 4rem;
    display: flex;
}
.comment-span {
    font-size: 0.95rem;
    margin-left: 0.5rem;
    color: gray;
    font-weight: bold;
}

.retweet-span {
    font-size: 0.95rem;
    margin-left: 0.5rem;
    color: rgb(63, 189, 63);
    font-weight: bold;
}

.like-span {
    font-size: 0.95rem;
    margin-left: 0.5rem;
    color: rgb(246, 58, 58);
    font-weight: bold;
}

.likeButton {
    cursor: pointer;
}

.addColor {
    color: red;
}



@media screen and (max-width:480px) {
    .main-heading {
        color: #FFF;
        background-color: black;
        border-radius: 2rem;
        width: 2.8rem;
        height: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-right: 1rem;
    }

    .inside-heading-1 {
        color: #FFF;
        background-color: black;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }
    
    .inside-heading-2 {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        margin: 2rem 0;
        margin-left: 2rem;
    }

    .author-name-tag-heading {
        font-size: 0.8rem;
        color: orange;
        font-weight: bold;
        margin: auto 0;
    }
    
    .logo-container {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 0.4rem;
        
    }

    .follow-actions-container {
        width: 1rem;
        height: 1rem;
        margin-right: 2.3rem;
        display: flex;
    }
    .comment-span {
        font-size: 0.7rem;
        margin-left: 0.5rem;
        color: gray;
        font-weight: bold;
        margin-top: 0.2rem;
    }
    
    .retweet-span {
        font-size: 0.7rem;
        margin-left: 0.5rem;
        color: rgb(63, 189, 63);
        font-weight: bold;
        margin-top: 0.2rem;
    }
    
    .like-span {
        font-size: 0.7rem;
        margin-left: 0.5rem;
        color: rgb(246, 58, 58);
        font-weight: bold;
        margin-top: 0.2rem;
    }
}